server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  cloud:
    openfeign:
      client:
        config:
          books:
            url:
              http://wiremock:8080
  profiles:
    active: rmap